# Віртуальне оточення (ОБОВ'ЯЗКОВО)
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]

# Середовище розробки
.vscode/
.idea/
.cursor/

# Секретні дані (ОБОВ'ЯЗКОВО)
.env
token.txt

mitbih_train.csv
# Великі файли (якщо вони >100MB, розкоментуйте рядки нижче)
# *.h5
# *.csv
# *.pkl